
/* main */
.wapper__license{
    background: url('https://source.unsplash.com/random');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    perspective: 5px;

    overflow-x: hidden;
    overflow-y: auto;
}
.license__container{
    font-family: 'Montserrat',sans-serif;
    z-index: 1;
    margin: 5% 5%;
    top: 10%;
    left: 10%;
    right: 10%;
    padding: 5%;
    background-color: antiquewhite;

}
